In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset, dtype=int)

In [4]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
dependent = dataset[['charges']]

In [8]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
# removed training and testing dataset split

In [11]:
# removed Standarization step

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor  # importing Support vector machine model.

param_grid = {'criterion':['absolute_error', 'squared_error', 'poisson', 'friedman_mse'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(),param_grid, refit = True, verbose = 3, n_jobs=-1)


grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\91967\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
29 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
11 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\91967\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\91967\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81924464 0.83154926 0.82043825 0.83055204
        nan        nan 0.81770422 0.83100562 0.82516736 0.83245563
        nan        nan 0.82094678 0.83183611 0.82150136 0.83144517
        nan        nan 0.81337755 0.83126785 0.80920517 0.83193987]
  warnings.warn(
C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['absolute_error', 'squared_error',
                                       'poisson', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [13]:
# grid_predictions = grid.predict(X_test)
# from sklearn.metrics import r2_score
# r_score = r2_score(y_test, grid_predictions)

re = grid.cv_results_

print("the R score value for best parameter {}:".format(grid.best_params_))

the R score value for best parameter {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}:

In [14]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018299,0.022788,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.003124,0.006248,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,1.141094,0.061455,0.026104,0.023622,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.855074,0.774707,0.831376,0.799923,0.835143,0.819245,0.028427,13
3,9.289737,1.000451,0.106870,0.057278,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.856552,0.780456,0.857527,0.821817,0.841395,0.831549,0.028643,4
4,1.163026,0.136162,0.041020,0.039861,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.835877,0.764161,0.860712,0.811033,0.830408,0.820438,0.032296,12
5,8.009828,2.486263,0.118574,0.048251,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856705,0.778118,0.853536,0.822452,0.841949,0.830552,0.028834,8
6,0.000936,0.001163,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.003135,0.003099,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.367537,0.006202,0.047793,0.029788,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.850591,0.751619,0.853350,0.812943,0.820018,0.817704,0.036735,14
9,3.327014,0.624872,0.111103,0.043331,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.856613,0.776908,0.857728,0.823045,0.840734,0.831006,0.029847,7
10,0.535083,0.067466,0.026232,0.033738,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.844544,0.770232,0.855654,0.815380,0.840027,0.825167,0.030461,9
11,2.856534,0.479640,0.099403,0.052949,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.859342,0.778582,0.864006,0.823803,0.836545,0.832456,0.030699,1
12,0.000909,0.000912,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000209,0.000418,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.407542,0.046251,0.022832,0.029691,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.839736,0.779207,0.849199,0.813316,0.823276,0.820947,0.024319,11
15,3.105485,1.118565,0.098480,0.050136,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.855497,0.775517,0.859789,0.825614,0.842763,0.831836,0.030565,3
16,0.417607,0.048174,0.027728,0.033743,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.851449,0.762048,0.847357,0.815843,0.830810,0.821501,0.032307,10
17,3.913677,0.068027,0.132954,0.040972,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.857544,0.778621,0.859962,0.820126,0.840973,0.831445,0.030012,5
18,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.446135,0.046358,0.025394,0.027848,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.845523,0.746955,0.838659,0.819298,0.816453,0.813378,0.035011,15
21,3.455332,0.292468,0.121145,0.015209,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857788,0.776550,0.859721,0.820668,0.841612,0.831268,0.030745,6
22,0.632577,0.297520,0.030012,0.037104,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.834312,0.761951,0.829633,0.799384,0.820747,0.809205,0.026496,16
23,2.993704,0.179685,0.066680,0.014470,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857463,0.781208,0.861171,0.823967,0.835891,0.831940,0.028840,2

In [ ]:
age_input = float(input("Age:"))
bmi_input = float(input("BMI:"))
children_input = float(input("Children:"))
sex_male_input = int(input("sex male 0 or 1:"))
smoker_yes_input = int(input("smoker yes 0 or 1:"))
sex_Female_input = int(input("sex female 0 or 1:"))
smoker_No_input = int(input("smoker no 0 or 1:"))

Age:32
BMI:43
Children:2
sex male 0 or 1:0
smoker yes 0 or 1:1

In [18]:
Future_Prediction = grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input,sex_Female_input,smoker_No_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[14101.571705]